In [147]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.tail(30)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34269,990327355,DANIEL CHAPPIE JAMES JR LODGE NO 4,T10,Independent,C1000,Preservation,Association,1,0,N,5000,1
34270,990330272,HAWAII UNITED OKINAWA ASSOCIATION,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
34271,990332316,INTERNATIONAL CHRISTIAN SCHOOLS KONA,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,20881,0
34272,990332535,VISITOR ALOHA SOCIETY OF HAWAII,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,9043,1
34273,990335208,POP WARNER LITTLE SCHOLARS INC,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,1
34274,990337060,AMERICAN ORFF-SCHULWERK ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
34275,990341214,HONOR SOCIETY OF PHI KAPPA PHI,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
34276,990343488,BIG ISLAND MEDIATION,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,152764,0
34277,990346282,MOST WORSHIPFUL PRINCE HALL FREE & ACCEPTED MA...,T8,Family/Parent,C1000,CommunityServ,Trust,1,0,N,5000,1
34278,990346683,LEILEHUA HIGH SCHOOL BAND BOOSTER ASSOCIATION,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,8749,0
34279,990349550,DB PRODUCTIONS INC,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,11442,1
34280,990349752,FRIENDS OF HONOLULU CITY LIGHTS,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,401661,0
34281,990353084,CONSORTIUM FOR HAWAII ECOLOGICAL ENGINEERING E...,T3,Independent,C1000,Preservation,Trust,1,1M-5M,N,56261,1
34282,990353630,INSTITUTE OF INTERNAL AUDITORS,T6,CompanySponsored,C2000,ProductDev,Trust,1,0,N,5000,0
34283,990354718,ALOHA CHAPTER OF THE AMERICAN SOCIETY OF MILIT...,T6,Independent,C2000,ProductDev,Association,1,0,N,5000,0
34284,990355149,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Association,1,1M-5M,N,3384856,0
34285,990357128,LES DAMES D ESCOFFIER INTERNATIONAL INC,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
34286,990368715,UNITED FEDERATION OF DOLL CLUBS INC,T3,CompanySponsored,C2000,ProductDev,Trust,1,0,N,5000,0
34287,990371761,KENNESAW DREAM FOUNDATION INC,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,6713,1
34288,990376401,UNITED FEDERATION OF DOLL CLUBS INC,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
34289,990382020,SOLEA WATER,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,20197,1
34290,996006031,DISABLED AMERICAN VETERANS,T4,CompanySponsored,C3000,Preservation,Association,1,1-9999,N,5000,0
34291,996008763,AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34292,996008993,DISABLED AMERICAN VETERANS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34293,996009208,CHI EPSILON 49,T3,CompanySponsored,C1000,Preservation,Association,1,0,N,5000,1
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [148]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME','SPECIAL_CONSIDERATIONS','STATUS'], axis=1)

In [149]:
# Look at APPLICATION_TYPE value counts for binning
app_class = application_df['APPLICATION_TYPE'].value_counts()
app_class

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [150]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T13','T12','T2','T25','T14','T29','T15','T17','T9','T10','T8','T7']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [151]:
# Look at CLASSIFICATION value counts for binning
class_vc = application_df['CLASSIFICATION'].value_counts()
class_vc[:20]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [152]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
low_class = class_vc[class_vc < 1000 ]
classifications_to_replace = low_class.index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [153]:
# Income amount bins
income_class = application_df['INCOME_AMT'].value_counts()
income_class

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [154]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
incomes_to_replace = ['10M-50M','5M-10M','50M+']

# Replace in dataframe
for amt in incomes_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(amt,"Other")

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
Other              564
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [155]:
# Convert categorical data to numeric with `pd.get_dummies`
cat_data = application_df.copy()
cat_data.drop(["IS_SUCCESSFUL"], axis=1, inplace=True)
cat_dummies = pd.get_dummies(cat_data)

In [156]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = cat_dummies.values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [157]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [174]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation='relu', input_dim=35))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=35, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=25, activation='relu'))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_21"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_103 (Dense)           (None, 40)                1440

 dense_104 (Dense)           (None, 35)                1435

 dense_105 (Dense)           (None, 25)                900

 dense_106 (Dense)           (None, 15)                390

 dense_107 (Dense)           (None, 1)                 16

=================================================================
Total params: 4181 (16.33 KB)
Trainable params: 4181 (16.33 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [175]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [176]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5699 - accuracy: 0.7220
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5575 - accuracy: 0.7296
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7303
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7310
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5526 - accuracy: 0.7308
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7329
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7329
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7336
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7342
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7335
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7332
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7347
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7345
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7348
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7346
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7352
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7346
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7342
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7351
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7358
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7353
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7357
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7358
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7361
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5447 - accuracy: 0.7355
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7358
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7357
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7363
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7360
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7357
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7349
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7372
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7349
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7367
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7371
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7366
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7371
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7372
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7366
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7369
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7377
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7365
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7370
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7375
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7379
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7386
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7363
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7384
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7383
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7374
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7373
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7380
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7383
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7383
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5406 - accuracy: 0.7383
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7375
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7382
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7382
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7376
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7381
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7377
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7370
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7372
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7381
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7373
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7382
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7385
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7382
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7365
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7383
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7381
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7374
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7382
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7381
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7383
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7386
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7379
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7383
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7372
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7380
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7382
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7382
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7390
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7373
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7382
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7383
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7379
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7381
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7383
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7387
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7398
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5384 - accuracy: 0.7395
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7388
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7385

In [177]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5589 - accuracy: 0.7270 - 472ms/epoch - 2ms/step
Loss: 0.5588554739952087, Accuracy: 0.7269970774650574

In [178]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')